<!DOCTYPE html>
<html lang="en">
<div th:replace="fragments/header :: commonHead('Profile')"></div>
<body>
    

  <body>
    <div th:replace="fragments/navbar :: navbar"></div>

    <div class="containerCard">
      <h2>User Profile</h2>
      <a th:href="@{/home}" class="btn btn-primary">Home</a>
      <!-- <p>Name: <span th:text="${user.name}">John Doe</span></p>
      <p>Email: <span th:text="${user.email}">john.doe@example.com</span></p>
      <p>Joined: <span th:text="${user.joinedDate}">January 1, 2020</span></p> -->
    

    <a href="/login" class="btn btn-secondary">login</a>
    <a href="/register" class="btn btn-secondary">register</a>
    <a href="/logout" class="btn btn-danger">logout</a>
</div>
    <div th:replace="fragments/footer :: footer"></div>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js"></script>
  </body>
</html>